[user]
	email = 31808318+lgair@users.noreply.github.com
	name = LukeGair
	signingkey = B133980D7AC831076E7A3997D8251CF14F6DDD54
[core]
	editor = vim
    excludesfile = /home/luke/.gitignore_global
[credential]
	helper = store
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg]
    program = gpg
