[user]
	email = 31808318+lgair@users.noreply.github.com
	name = LukeGair
	signingkey = AF7269EB4263F0CE
[core]
	editor = vim
    excludesfile = /home/luke/.gitignore_global
[credential]
	helper = store
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg]
    program = gpg
